@model IEnumerable<Shaveer.Models.Wellness>

@{
    ViewBag.Title = "WellnessDelete";
    Layout = "~/Views/CoachShav/LayoutMaster.cshtml";
}

<h2>WellnessDelete</h2>

<div class="banner wow fadeInDownBig animated animated" data-wow-delay="0.4s">
				<div class="container">
					<h2>Wellness</h2>
				</div>
			</div>
			<!---banner--->
			
		<!---class--->
			<div class="class">
				<div class="container">
					<div class="class-grids w3l">
						<div class="col-md-12 class-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
				            
                            @foreach (var item in Model)
                                
                                {

                                
                                   
                                
                                <div class="class-top">

								<div class="col-md-4 ">
									<div class="class-text  hvr-bounce-to-bottom">
									
                                    <iframe  src = "@Url.Content(@item.WVideoLink)" allowfullscreen="allowfullscreen" class="img-responsive" ></iframe>
										<h4>@item.Title </h4>
										
                                        <h5>Ingredients:</h5>
										<p>@item.Description</p>
									 	<h5>Nutrional content</h5>  
										<p>@item.Duration</p>
									</div>
                                    
								</div>
								<form  action="/CoachShav/WellnessDelete" method="post"  >
                                                 <input value="@item.Title" name="Title" />
											<div class="figcaption">
												<p><input type="submit" value="Delete" class="btn btn-default"/> </p>
                                           </div>     

                                             </form>

						</div>
                                     
                                }
                            @*<div class="class-top">
								<div class="col-md-4 ">
									<div class="class-text  hvr-bounce-to-bottom">
									
                                    <img src="~/images/c1.jpg" class="img-responsive" alt=""/>
                                    	<h4>Grilled chicken</h4>
										<h5>Ingredients:</h5>
										<p>100 gms chicken breast ,salt ,pepper and olive oil</p>
										<h5>Nutrional content</h5>
										<p>Carbs-10g, protein-20g, Fats-5g</p>
									</div>
								</div>
								
						</div>

                            
                            <div class="class-top">
								<div class="col-md-4 ">
									<div class="class-text  hvr-bounce-to-bottom">
									
                                    <img src="~/images/c1.jpg" class="img-responsive" alt=""/>
										<h4>Grilled chicken</h4>
										<h5>Ingredients:</h5>
										<p>100 gms chicken breast ,salt ,pepper and olive oil</p>
										<h5>Nutrional content</h5>
										<p>Carbs-10g, protein-20g, Fats-5g</p>
									</div>
								</div>
								
						</div>*@

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
                </div>
		<!---class--->
